<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere ipsum et
      quasi reprehenderit, molestiae numquam obcaecati iste eligendi veniam
      mollitia.
    </p>
  </header>
  <div style="width: 50%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, numquam.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere ipsum et
      quasi reprehenderit, molestiae numquam obcaecati iste eligendi veniam
      mollitia.
    </p>
  </div>
</section>
