<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, perferendis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, perferendis.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="./assets/icons/sprite (1).svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Shane D'Souza</h3>
        <p>REDD Pvt. Ltd</p>
      </div>
    </div>
  </footer>
</blockquote>
